---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Trusted by companies like
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 mb-4 font-special text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-900 dark:text-blue-400" role="alert">
                Not yet but soon!
            </div>
        </div>
    </Container>
</section>
