---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import {Collaboration} from "../services/collaboration";
import {Meteors} from "../cards/mail"
---
<style>
    .features {
        display: grid;
        grid-template-areas:
        'page mail storage storage'
        'page analytics analytics store'
        'kanban collaboration calendar store';
        gap: .5em;
        grid-template-columns: repeat(4, 1fr);
    }

    .feature {
        min-height: 25vh;
        border-radius: .5em;
    }

    .illustration {
        height: 25vh;
    }

    .feature-storage {
        grid-area: storage;
    }

    .feature-analytics {
        grid-area: analytics;
    }

    .feature-kanban {
        grid-area: kanban;
    }

    .feature-page {
        grid-area: page;
    }

    .feature-mail {
        grid-area: mail;
    }

    .feature-calendar {
        grid-area: calendar;
    }

    .feature-store {
        grid-area: store;
    }

    .feature-collaboration {
        grid-area: collaboration;
    }
</style>
<section id="services" class="py-16"
         style="background: radial-gradient(circle, rgba(181,196,244,.4) 0%, rgba(255,255,255,0) 70%);">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                What we offer
            </Title>
            <Paragraph className="text-gray-300 dark:text-gray-500">
                Take control of your content and collaboration needs with our comprehensive suite of services! Whether
                you're looking to streamline your content creation process, enhance collaboration between team members,
                or both, we've got you covered.
            </Paragraph>
        </div>
        <div class="features m-auto text-gray-300 <dark:text-gray-500></dark:text-gray-500>">
            <div class="feature feature-storage p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">storage</span>
                <div class="flex items-center justify-between">
                    <img src={"images/services/analytics.webp"} alt="analytics illustration" class="illustration" />
                    <p class="text-gray-300 dark:text-gray-500 ml-4 text-right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magni molestias quis reiciendis rem, repudiandae tempore vitae voluptas voluptates. Harum?
                    </p>
                </div>
            </div>
            <div class="feature feature-analytics p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">analytics</span>
                <div class="flex items-center justify-between">
                    <img src={"images/services/analytics.webp"} alt="analytics illustration" class="illustration" />
                    <p class="text-gray-300 dark:text-gray-500 ml-4 text-right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magni molestias quis reiciendis rem, repudiandae tempore vitae voluptas voluptates. Harum?
                    </p>
                </div>
            </div>
            <div class="feature feature-kanban p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">kanban</span>
                <Meteors number={20}/>
            </div>
            <div class="feature feature-page p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">page</span>
                <div class="flex items-center justify-between flex-col">
                    <img src={"images/services/analytics.webp"} alt="analytics illustration-vertical" class="illustration" />
                    <p class="text-gray-300 dark:text-gray-500 mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magni molestias quis reiciendis rem, repudiandae tempore vitae voluptas voluptates. Harum?
                    </p>
                </div>
            </div>
            <div class="feature feature-mail p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">mail</span>
                <Meteors number={20}/>
            </div>
            <div class="feature feature-calendar p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">calendar</span>
                <Meteors number={20}/>
            </div>
            <div class="feature feature-store p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="text-special capitalize">store</span>
                <div class="flex items-center justify-between flex-col">
                    <img src={"images/services/analytics.webp"} alt="analytics illustration-vertical" class="illustration" />
                    <p class="text-gray-300 dark:text-gray-500 mt-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magni molestias quis reiciendis rem, repudiandae tempore vitae voluptas voluptates. Harum?
                    </p>
                </div>
            </div>
            <div class="feature feature-collaboration p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <span class="font-special capitalize">Collaboration</span>
                <Collaboration />
                <span class="text-gray-300 dark:text-gray-500">
                    Enhance teamwork with our product's seamless collaboration feature for efficient and dynamic work environments.
                </span>
                <Meteors number={20}/>
            </div>
        </div>
    </Container>
</section>
