---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import Desc from "../components/sections/desc";
---
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;600&family=Pixelify+Sans&display=swap" rel="stylesheet">
</head>
<Layout title="Welcome to AgenceX">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<Desc client:only="react" />
		<Brands/>
		<Services/>
		<AboutUs/>
		<Features/>
		<CTA/>
	</main>
</Layout>
